@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --font-sans: var(--font-sans);
  --font-display: var(--font-display);
}

@layer base {
  :root {
    interpolate-size: allow-keywords;
  }
}
